<footer class="footer">
  <section class="footer-main">
    <div class="container">
      <div div="row">
        <a name="contact"></a>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="icon-box">
            <div class="icon"><%= image_tag("icons/telephone") %></div>
            <div class="content">(032) 726 21 43</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="icon-box">
            <div class="icon"><%= image_tag("icons/mobile.png") %></div>
            <div class="content">+48 791 509 109</div>
            <div class="content">+48 601 159 412</div>
            <div class="content">+48 668 826 263</div>
            <div class="content">+48 501 524 788</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="icon-box">
            <div class="icon"><%= image_tag("icons/mail") %></div>
            <div class="content">biuro@abart.net.pl</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="icon-box">
            <div class="icon"><%= image_tag("icons/info") %></div>
            <div class="content">
              <p>abart s.c.</p>
              <p>41-806 Zabrze</p>
              <p>NIP 648-262-11-45</p>
              <p>Regon 240616117</p>
              <p>ING 76105015881000002316109251</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-copyright">
    <div class="container">
      <div div="row">
        <p>2015 | Abart.pl © Dziękujemy za wizytę!
      <div>
    </div>
  </section>
</footer>
