<section class="devices">
  <div class="row">
    <a name="copiers"></a>
    <div class="col-sm-12">
      <div class="page-header">
        <h2>KSEROKOPIARKI</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center"><%= image_tag("images/copier.jpg") %></div>
        <div class="col-sm-6">
          <h3>Nasza oferta</h3>
          <p>Posiadamy kserokopiarki nowe, powystawowe i używane. Na używane dajemy gwarację oraz
            zapewaniamy, że jest to sprzęt sprawdzony i najwyższej jakości. Oferujemy kserokopiarki
            używane ze względu na bardzo atrakcyjną cenę w porównaniu do nowego sprzętu przy zachowaniu
            jednakowej użyteczności oraz jakości nowych maszyn.</p>
          <button type="button" class="btn btn-success center-block">Sprawdź oferte</button>
        </div>
      </div>
    </div>
  </div>
</section>
