<section id="other_devices" class="devices">
  <div class="row">
    <a name="other_devices"></a>
    <div class="col-sm-12">
      <div class="page-header">
        <h2 class="background"><span>INNE URZĄDZENIA</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 space">
          <h3>Nasza oferta</h3>
          <p>Oprócz kserokopiarek nasza firma oferuje także:</p>
          <ul>
            <li>drukarki</li>
            <li>faksy</li>
            <li>urządzenia wielofunkcyjne</li>
            <li>oraz niszczarki</li>
          </ul>
          <button type="button" class="btn btn-success center-block">Sprawdź oferte</button>
        </div>
        <div class="col-sm-6 text-center"><%= image_tag("images/fax.jpg") %></div>
      </div>
    </div>
  </div>
</section>
