<section id="service" class="devices">
  <div class="row">
    <a name="service"></a>
    <div class="col-sm-12">
      <div class="page-header">
        <h2 class="background"><span>SERWIS</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <%= image_tag("images/service.jpg") %>
          <h5>Nasz serwis zapewnia satysfakcję z dokonanego wyboru</h5>
        </div>
        <div class="col-sm-6">
          <h3>Nasza oferta</h3>
          <p>Oferujemy serwis gwarancyjny oraz pogwarancyjny wszystkich typów kserokopiarek
            oraz drukarek laserowych. Nasza firma posiada wieloletnie doświadczenie w naprawach
            urządzeń kopiujących. podejmujemy się najbardziej skomplikowanych napraw, nawet
            jeżeli inny serwis nie był w stanie rozwiązać problemu. Nasi stali klienci cenią
            szybkość i solidność naszego serwisu. Proponujemy niestandardowe opcje serwisowania
            jak kontrakty ze zryczałtowaną opłatą miesięczną. Dojeżdżamy bezpłatnie na terenie
            Zabrza i okolic.</p>
            <h4>Gwarantujemy:</h4>
            <ul>
              <li>fachową pomoc i utrzymanie sprawności urządzeń biurowych</li>
              <li>urządzenie zastępcze w przypadku dłuższej naprawy</li>
              <li>stałą dostępność części zamiennych i materiałów eksploatacyjnych</li>
              <li>szybką i skuteczną reakcję na zgłaszane problemy techniczne</li>
              <li>stałą konserwację urządzeń zmniejszającą możliwość wystąpienia nieoczekiwanych awarii</li>
              <li>bezpłatne uruchomienie, transport, przeszkolenie, oraz dogodne warunki gwarancji</li>
              <li>konfiguracje urządzeń pracujących w sieci.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
