<section id="toners" class="devices">
  <div class="row">
    <a name="toners"></a>
    <div class="col-sm-12">
      <div class="page-header">
        <h2 class="background"><span>TONERY I TUSZE</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 space">
          <h3>Nasza oferta</h3>
          <p>Posiadamy tonery do każdego modelu kserokopiarki i drukarki laserowej, a także tusze do drukarek atramentowych.</p>
        </div>
        <div class="col-sm-6 text-center"><%= image_tag("images/toner.jpg") %></div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <%= image_tag("images/toner1.jpg") %>
          <h5>Regeneracja już od 50 zł !!!</h5>
        </div>
        <div class="col-sm-6 space">
          <h3>Regeneracja Tonerów</h3>
          <p>Regenerujemy tonery do drukarek, kserokopiarek i faxów laserowych. Dzięki regeneracji toneru zyskujesz nawet do 70%
          oszczędności, dodatkowo chronisz środowisko naturalne, gdyż twój zużyty cartridge jest wykorzystywany kilka razy.
          Często tonery regenerowane wystarczają na większą ilość wydruków niż tonery oryginalne.</p>
          <p>Regeneracja tonera nie polega tylko na uzupełnieniu proszku. Samo uzupełnienie proszku nie gwarantuje poprawnego
          działania cartridgea ani nie zapewnia dobrej jakości wydruku. Do regeneracji używamy tylko materiałów dobrej
          jakości i osobiście sprawdzonych przez nas.</p>
        </div>
      </div>
    </div>
  </div>
</section>
