@import "shared.scss";

.footer-main{
  background-color: $footer-main-bg;
  color: #fff;
  .icon-box{
    margin: 30px 0;
    .icon{ margin-bottom: 10px; }
    .content{ margin: 5px 0; }
  }
}

.footer-copyright{
  background-color: $footer-copyright-bg;
  color: $footer-copyright-color;
  text-align: left;
  padding: 20px 0;
}
