@import "shared.scss";

#about_us{
  background-color: #fff;
  .welcome{ margin: 50px 0; }
  .panel{
     box-shadow: none;
    .panel-header{
      overflow: hidden;
      @include border-top-radius(10px);
     }
    .panel-body{
      @include border-bottom-radius(10px);
      border: 2px solid $border-gray;
      border-top: none;
      padding-top: 5px;
      h3{ height: 50px; }
    }
  }
}

.devices{
  .page-header{
    h2{
      font: 33px sans-serif;
      margin-top: 30px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      &:before {
        border-top: 2px solid $border-gray;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
      }
      span{ background: #fff; padding: 0 15px; }
    }
    border-bottom: none;
  }
  p{ margin: 20px 0 50px; line-height: 22px; }
}

#other_devices{
  p{ margin-bottom: 10px; }
  ul{ margin-bottom: 40px; margin-left: 100px; }
  .space{ margin-bottom: 40px;}
}

#service{ h5{ margin-top: 60px; } }

#toners{
  h5{ margin-top: 40px; }
  .row{ margin-bottom: 40px; }
}
